<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GithubLoginDemo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">码匠社区</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="搜索" aria-label="Search">
                <button type="submit" class="btn btn-outline-success">搜索</button>
            </form>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" th:if="${session.user != null}">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.user.name != null ? session.user.name : session.user.login}">我</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">消息中心</a></li>
                        <li><a class="dropdown-item" href="#">个人资料</a></li>
                        <li><a class="dropdown-item" href="#">退出登录</a></li>
                    </ul>
                </li>
                <li class="nav-item" th:unless="${session.user != null}">
                    <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=Ov23liijchVoPwBKVJUY&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--    <div class="container d-flex justify-content-center align-items-center" id="login">-->
<!--        <div class="card" style="width: 18rem;">-->
<!--            <img class="card-img-top" src="..." alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</body>
</html>